<!DOCTYPE html>
    <html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <body text="#7cd500">
    <p><text face = "Verdana" size = "4" color = "#000000">
    
    
    
    
    
    <div data-ng-app="" data-ng-init="Radius.of.Circle=0">
    <h2>Circle's Area Calculator</h2>
    Radius.of.Circle: <input type="number" ng-model="Radius.of.Circle">
    <p><b>Area:</b> {{(22/7)*(Radius.of.Circle*Radius.of.Circle)}}</p>
    <p><b>Perimeter:</b>{{(22/7)*(2*Radius.of.Circle)}}</p>
    
    
    <div data-ng-app="" data-ng-init="Length=0;Breadth=0">
    <h2>Rectangle Area Calculator</h2>
    Length: <input type="number" ng-model="Length">
    Breadth: <input type="number" ng-model="Breadth">
    <p><b>Area:</b> {{(Length*Breadth)}}</p>
    <p><b>perimeter:</b>{{(Length+Breadth+Length+Breadth)}}</p>

   
    </div>
    </body>
<style>
html {
     background: #8A2BE2;
     font-family: ORACULA
    </html>